<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Notes</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900  ">
        <div class="items-center justify-center block">
        <a class="text-blue-600 p-10 inline-block mt-1" href="/">Go Back</a>
       
        <h2 class="text-white text-3xl ml-10 "><%=filename%></h2>
        <h1 class="text-white ml-10 mt-3 "><%=filedata%></h1>
        </div>
        
    </div>

</body>
</html>